.activet {
    position: absolute;
    border-color: transparent;
    top: 2px;
    right: 2px;
    width: 40px;
    height: 40px;
    z-index: 100;
    &::after,
    &::before {
        background: #ec6f5d;
        width: 85%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:active {
        background: $grey_bg_alt;
        border-radius: 12px;
    }
    &:active::after,
    &:active::before {
        background: #ec6f5d;
    }
}
