.consecutive {
    &__comp {
        display: none;
    }
    &__block--comp {
        display: none;
        padding-left: 20px;
    }
    // .consecutive__container
    &__container {
        color: $white;
        padding-bottom: 44px;
        padding-top: 42px;
        display: flex;
        flex-direction: column;
    }

    // .consecutive__title
    &__title {
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $gradient_red_text;
    }

    // .consecutive__subtitle
    &__subtitle {
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 15px;
    }

    // .consecutive__text
    &__text {
        font-size: 18px;
        line-height: 26px;
        padding-bottom: 20px;
    }

    // .consecutive__points-container
    &__points-container {
        display: flex;
        justify-content: center;
    }

    // .consecutive__point
    &__point {
        margin: 7px;
        border-radius: 50%;
        background-color: $accent_active;
        opacity: 0.2;
        width: 16px;
        height: 16px;
        &:active {
            opacity: 1;
        }
    }
}

@media (min-width: 992px) {
    .consecutive {
        &-wrapper {
            display: none;
        }
        &__comp {
            display: flex;
            &-buttons {
                width: 50%;
                display: flex;
                flex-direction: column;
                grid-column: 1/2;
                grid-row: 1/2;
                padding-left: 30px;
            }
            &-content {
                width: 50%;
                padding-right: 20px;
            }
        }

        &__title {
            display: none;
        }
        &__container {
            padding: 106px 0 0 10px;
        }
        &__slide {
            display: none;
            align-self: center;
            padding: 0 40px;
            grid-column: 2/3;
        }
        // .consecutive__comp
        &__slider {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            padding-bottom: 100px;
        }
        // .consecutive__comp-buttons

        &__block {
            padding-top: 20px;
        }
        // .consecutive__button
        &__button {
            border: 0;
            border-right: 4px solid $grey_separator;
            display: flex;
            justify-content: end;
            padding: 0 41px 22px 10px;
            font-size: 42px;
            line-height: 50px;
            outline: none;
            background: transparent;
            cursor: pointer;
            text-align: right;
            color: $grey_text;
            &:hover {
                color: $accent;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
        // .consecutive__subtitle
        &__subtitle {
            font-size: 32px;
            line-height: 38px;
            padding-bottom: 22px;
        }

        // .consecutive__text
        &__text {
            font-size: 21px;
            line-height: 30px;
            color: $white;
        }
    }
}
