.header {
    &__container--services {
        &::before,
        &::after {
            display: none;
        }
    }
    &__logo--services {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .header {
        &__menu-link--services {
            &::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $white;
            }
            &::after:hover {
                color: $white;
                background-color: $white;
            }
        }
        &__menu {
            a {
                &:hover::after {
                    background-color: $white;
                }
            }
        }
    }
}

