.hoved {
    padding-top: 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // .hoved__title
    &__title {
        max-width: 375px;
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        color: $white;
        padding-bottom: 202px;
        position: relative;
        z-index: 2;

        @media (min-width: 768px) {
            padding-top: 125px;
        }

        @media (min-width: 992px) {
            max-width: 622px;
            padding-top: 120px;
            padding-bottom: 285px;
        }
    }
    &__arrow {
        display: flex;
        align-items: center;
        border-radius: 50%;
        border: 1px solid $white;
        padding: 10px;
        width: 42px;
        height: 42px;
        z-index: 2;
    }
    &__arrow svg {
        transform: rotate(0deg);
    }
}

@media (min-width: 768px) {
    .hoved {
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    .hoved {
        padding-top: 123px;
    }
}
