.middle-slider {
    &__slide-item {
        background: $grey_bg;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
        padding: 20px 20px 10px 20px;
        border-radius: 12px;
    }
    &-top {
        grid-row: 1/2;
        grid-column: 1/4;
        display: flex;
        align-items: center;
    }
    &__content {
        grid-row: 3/4;
        grid-column: 1/2;
        padding-top: 14px;
    }
    &__top-title {
        display: inline-block;
        color: $accent_active;
        font-weight: bold;
        position: relative;
        padding-right: 15px;
        &:hover {
            color: $accent;
        }
        &::after,
        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 6px;
            background: $accent_active;
            width: 7px;
            height: 2px;
            transform: rotate(45deg);
        }
        &::before {
            top: 10px;
            transform: rotate(-45deg);
        }
        &:hover::after,
        &:hover::before {
            background: $accent;
        }
    }
    &__text {
        grid-row: 2/3;
        grid-column: 1/4;
    }
    // .swiper-slide__name
    &__name {
        padding-bottom: 5px;
    }
    &__who {
        justify-content: center;
        grid-row: 3/4;
        grid-column: 2/4;
        padding-left: 10px;
        color: $grey_text;
        padding-top: 20px;
    }
}

@media (min-width: 992px) {
    .middle-slider {
        &__slide-item {
            padding: 0;
            height: 100%;
            grid-template-rows: min-content min-content 1fr;
        }
        &-top {
            grid-column: 2/3;
            grid-row: 1/2;
            padding-left: 40px;
            padding-top: 46px;
        }
        &__text {
            grid-column: 2/3;
            grid-row: 2/3;
            padding-left: 40px;
            max-width: 830px;
        }
        &__who {
            grid-column: 2/3;
            grid-row: 3/4;
            padding-left: 40px;
            padding-top: 22px;
            padding-bottom: 10px;
        }
        &__content {
            grid-column: 1/2;
            grid-row: 1/-1;
            width: 413px;
            align-self: center;
        }
        &__name {
            padding-top: 0;
        }
    }
}
