.modal {
    background: rgba(50, 50, 100, 0.7);
    position: absolute;
    left: 0;
    top: -140%;
    z-index: 200;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    &__title {
        max-width: 300px;
        color: $accent;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        &--contact {
            max-width: 100%;
        }
    }
    &__container {
        border-radius: 12px;
        left: 50%;
        z-index: 201;
        top: 2%;
        transform: translateX(-50%);
        min-width: 335px;
        padding: 20px;
        background: $grey_bg;
        position: absolute;
        &--contact {
            position: relative;
            transform: none;
            border-radius: 0;
            left: 0;
            top: 0;
            z-index: 0;
            min-width: initial;
        }
    }
    &__close {
        position: absolute;
        top: 8px;
        right: 16px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin-bottom: 25px;
        grid-area: menu;
        justify-self: end;
        &:active {
            background: $grey_bg_alt;
            border-radius: 12px;
            color: $main;
        }
        &-btn {
            display: block;
            cursor: pointer;
            outline: none;
            background: transparent;
            border: 2px solid;
            border-right: none;
            border-left: none;
            color: $white;
            font-size: 0;
            &:active {
                color: $main;
            }
            &::after,
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                background: $white;
                transform: translate(-50%, -50%);
            }
            &:active::after {
                background: $main;
            }
        }
        &--contact {
            display: none;
        }
    }
    &__input {
        height: 47px;
    }
    &__message {
        padding: 20px 0 180px 10px;
    }
    &__list {
        list-style: none;
        padding: 0;
        li {
            margin: 0 auto;
            padding-bottom: 20px;
            &:first-child {
                padding: 0;
                margin: 0;
                padding-bottom: 20px;
            }
            &:nth-child(5) {
                padding-bottom: 8px;
            }
            &:last-child {
                text-align: center;
                padding-bottom: 0;
                margin: 0 0 20px 0;
            }
        }
    }
    input {
        outline: none;
        border: none;
        border-radius: 8px;
        width: 100%;
        padding-left: 20px;
        background-color: $white;
        &:focus {
            outline: 2px solid $accent;
        }
        &::placeholder {
            font-size: 18px;
            line-height: 26px;
            color: $grey_text;
        }
    }
    // .modal__how
    &__how {
        font-weight: bold;
        color: $grey_text;
    }
    &__btn {
        padding: 14px 67px;
    }
    &--contact {
        position: relative;
        overflow-y: initial;
        max-width: 527px;
        margin: 0 auto;
        background: none;
        margin-bottom: 40px;
        z-index: 0;
    }
    &__btn-place {
        position: relative;
    }
}

@media (min-width: 768px) {
    .modal {
        &__title {
            font-size: 32px;
            line-height: 38px;
            max-width: 500px;
        }
        &__container {
            padding: 20px;
            min-width: 525px;
        }
        &__list {
            li {
                padding-bottom: 20px;
                &:first-child {
                    padding: 0;
                    margin: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.error {
    color: #e00000;
}

@media (min-width: 992px) {
    .modal {
        &--contact {
            top: 0;
        }
    }
}
