.title {
    font-size: 32px;
    line-height: 38px;
    color: $accent;
}
.title-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.top-title {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
