* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
}
html,
body {
    scroll-behavior: smooth;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    width: 100%;
    font-family: "TTNorms", Arial, sans-serif;
}
.container {
    max-width: 1360px;
    min-width: 340px;
    margin: 0 auto;
    padding: 0 20px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.img-responsive {
    max-width: 100%;
    object-fit: contain;
}
